<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador">
    <insert id="insertar" parameterType="pojo.Colaborador">
        INSERT INTO timefast.colaborador
        (nombre, apellidoPaterno, apellidoMaterno, curp, correo, numPersonal, password, idRol, numLicencia)
        VALUES(#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{curp}, #{correo}, #{numPersonal}, #{password}, #{idRol}, #{numLicencia})
    </insert>
    
    <update id="editarColaborador">
        UPDATE timefast.colaborador
        SET nombre=#{nombre},
        apellidoPaterno=#{apellidoPaterno},
        apellidoMaterno=#{apellidoMaterno},
        curp=#{curp},
        email=#{correo},
        password=#{password},
        numLicencia=#{numLicencia}
        WHERE numPersonal=#{numPersonal}
    </update>
    
    <delete id="eliminar">
        DELETE FROM timefast.colaborador
        WHERE numPersonal=#{numPersonal}
    </delete>
    
    
    <select id="obtenerColaboradorPorNoPersonal" resultType="pojo.Colaborador">
        SELECT idColaborador, nombre, apellidoPaterno, apellidoMaterno, curp, correo, c.numPersonal, password, idRol, foto, numLicencia
        FROM timefast.colaborador as c
        WHERE c.numPersonal = #{numPersonal}
        
    </select>
    
    <select id="obtenerColaboradorPorRol" resultType="pojo.Colaborador">
        SELECT idColaborador, nombre, apellidoPaterno, apellidoMaterno, curp, correo, numPersonal, password, idRol, foto, numLicencia
        FROM timefast.colaborador
        WHERE idRol = #{idRol}
    </select>
    
    <select id="obtenerColaboradorPorNombre" resultType="pojo.Colaborador">
        SELECT idColaborador, nombre, apellidoPaterno, apellidoMaterno, curp, correo, numPersonal, password, idRol, foto, numLicencia
        FROM timefast.colaborador
        WHERE nombre = #{nombre}
    </select>
    
    <select id="obtenerColaboradores" resultType="pojo.Colaborador">
        SELECT idColaborador, nombre, apellidoPaterno, apellidoMaterno, curp, correo, numPersonal, password, colaborador.idRol,rol.descripcionRol as 'rol', foto, numLicencia
        FROM colaborador
        inner join rol on rol.idRol = colaborador.idRol
    </select>
    
    
    
</mapper>
